<div id="summary">
  <h2>Dashboard Summary</h2>

  <h3>Cars.....</h3>  
  <% @car.each do |c| %>
    <%= c.make %>
    <%= c.model %>
    <%= c.year %>
    <%= c.color %>
    <%= number_to_currency(c.price) %>
    <%= link_to "Delete", car_path(c), method: :delete %>
    <%= link_to "Edit", edit_car_path(c) %>
    <br>
  <% end %>

  <h3>Dealers.....</h3>
  <% @dealer.each do |d| %>
    <%= d.name %>
    <%= d.town %>
    <%= d.state %>
    <%= d.salesperson %>
    <%= d.telephone %>
    <%= link_to "Delete", dealer_path(d), method: :delete %>
    <%= link_to "Edit", edit_dealer_path(d) %>
    <br>
  <% end %>
</div>