<h2>CarNote/CarPad/whatever-name Summary</h2>

<h3>Cars.....</h3>  
<% @car.each do |c| %>
  <%= c.make %>
  <%= c.model %>
  <%= c.year %>
  <%= c.color %>
  <%= link_to "Delete", car_path(c), method: :delete %>
  <br>
<% end %>

<h3>Dealers.....</h3>