<div class="form">
Edit Dealer:

<%= form_for @dealer do |f| %>
    <%= f.text_field :name, :placeholder => "Name" %>
    <br>
    <%= f.text_field :town, :placeholder => "City" %>
    <br>
    <%= f.text_field :state, :placeholder => "State" %>
    <br>
    <%= f.text_field :salesperson, :placeholder => "Salesperson" %>
    <br>
    <%= f.text_field :telephone, :placeholder => "Phone" %>
    <br>
    <%= f.submit "Update" %>
<% end %>
</div>