<div class="form">
<h2>Add Dealer:</h2>
    <%= form_for @dealer do |f| %>
        <%= f.text_field :name, :placeholder => "Name" %>
        <br>
        <%= f.text_field :town, :placeholder => "Town" %>
        <br>
        <%= f.text_field :state, :placeholder => "State" %>
        <br>
        <%= f.text_field :salesperson, :placeholder => "Salesperson" %>
        <br>
        <%= f.text_field :telephone, :placeholder => "Telephone" %>
        <br>
        <%= f.submit "Create" %>
    <% end %>
</div>