<link rel="stylesheet" type="text/scss" href="home.scss">
<div id="car-bg">
this is where i add a new car (after i have already made my 1st one)

<%= form_for @car do |f| %>
    Car Make: <%= f.text_field :make %>
    <br>
    Car Model: <%= f.text_field :model %>
    <br>
    Car Year: <%= f.text_field :year %>
    <br>
    Car Color: <%= f.text_field :color %>
    <br>
    Car Price($): <%= f.text_field :price %>
    <br>
    <%= f.submit "Create" %>
<% end %>
</div>