<link rel="stylesheet" type="text/css" href="cars.css"></link>
<div>
<h2 id="add_car">Add Car:</h2>
    <%= form_for @car do |f| %>
        <%= f.text_field :make, :placeholder => "Make" %>
        <br>
        <%= f.text_field :model, :placeholder => "Model" %>
        <br>
        <span id="car_year">Car Year: <%= f.select(:year, 1990..2016) %></span>
        <br>
        <%= f.text_field :color, :placeholder => "Color" %>
        <br>
        <%= f.text_field :price, :placeholder => "Price" %>
        <br>
        <%= f.submit "Create", :class => "btn btn-primary btn-xs" %>
    <% end %>
</div>