<h2 id="add_car">Add Car:</h2>
    <div id="form_add_car">
        <%= form_for @car do |f| %>
            <input id="form_add_car" class="form-control input-lg" type="text" <%= f.text_field :make, :placeholder => "Make" %>
            <br>
            <input id="form_add_car" class="form-control input-lg" type="text" <%= f.text_field :model, :placeholder => "Model" %>
            <br>
            <span id="car_year">Car Year: <%= f.select(:year, 1990..2016) %></span>
            <br>
            <input id="form_add_car" class="form-control input-lg" type="text" <%= f.text_field :color, :placeholder => "Color" %>
            <br>
            <input id="form_add_car" class="form-control input-lg" type="text" <%= f.text_field :price, :placeholder => "Price" %>
            <br>
            <%= f.submit "Create", :class => "btn btn-primary btn-lg" %>
        <% end %>
    </div>