<div class="form">
<h2>Add First Car:</h2>

    <%= form_for @car do |f| %>
        <%= f.text_field :make, :placeholder => "Make" %>
        <br>
        <%= f.text_field :model, :placeholder => "Model" %>
        <br>
        <%= f.select :year, (1990..2016) %>
        <br>
        <%= f.text_field :color, :placeholder => "Color" %>
        <br>
        <%= f.text_field :price, :placeholder => "Price($)" %>
        <%= hidden_field_tag :onboarding, :value => true %>
        <br>
        <%= f.submit "Create" %>
    <% end %>

    <!-- maybe use this next button for when user wants to skip this section -->
    <%= link_to 'Next', next_wizard_path %>
</div>