<div id="first_dealer_form">
    <div class="first_dealer_form">
        <h2>Add First Dealer:</h2>
        <br>
        <div id="first_dealer">
            <%= form_for @dealer do |f| %>
                <input class="form-control input-lg" type="text" <%= f.text_field :name, :placeholder => "Name" %>
                <br>
                <input class="form-control input-lg" type="text" <%= f.text_field :town, :placeholder => "Town" %>
                <br>
                <input class="form-control input-lg" type="text" <%= f.text_field :state, :placeholder => "State" %>
                <br>
                <input class="form-control input-lg" type="text" <%= f.text_field :salesperson, :placeholder => "Salesperson" %>
                <br>
                <input class="form-control input-lg" type="text" <%= f.text_field :telephone, :placeholder => "Telephone" %>
                <br>
                <%= f.submit "Finish", :class => "btn btn-primary btn-lg" %>
            <% end %>

            <!-- skip button for when user wants to skip this section/doesn't want to input information -->
            <%= link_to 'Skip', summary_page_path, :class => "btn btn-primary btn-lg" %>
        </div>
    </div>
</div>