<div class="form">
<h2>Add First Dealer:</h2>

<%= form_for @dealer do |f| %>
    <%= f.text_field :name, :placeholder => "Dealer Name" %>
    <br>
    <%= f.text_field :town, :placeholder => "Dealer City" %>
    <br>
    <%= f.text_field :state, :placeholder => "Dealer State" %>
    <br>
    <%= f.text_field :salesperson, :placeholder => "Salesperson" %>
    <br>
    <%= f.text_field :telephone, :placeholder => "Phone" %>
    <br>
    <%= f.submit "Create" %>
<% end %><!-- 
this can be used for a user that doesn't want to put in information at this stage
<%= link_to 'Finish', summary_page_path %> -->
</div>