<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <!-- if page == whatever -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
  <% if user_signed_in? %>
    <div id="paper-back">
      <nav>
        <div class="close"></div>
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Summary", summary_page_path %></li>
            <li><%= link_to "Add A New Car", car_build_path %></li>
            <li><%= link_to "Add A New Dealer", dealer_build_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul><!-- un-ordered list -->
      </nav><!-- nav section -->
    </div><!-- paper-back div -->
    <div id="paper-window">
      <div id="paper-front">
        <div class="hamburger"><span></span></div>
          <div id="container">
            <section>
              <%= yield %>
            </section>
          </div><!-- container div -->
      </div><!-- paper-front div -->
    </div><!-- paper-window div -->
  <% else %>
    <div id="paper-back">
    </div><!-- paper-back div -->
    <div id="paper-window">
      <div id="paper-front">
          <div id="container">
            <section>
              <%= yield %>
                <!-- <nav> -->
                  <div id="sign_up_in">
                    <div class="btn btn-primary btn-lg linksss">
                      <%= link_to "Sign Up!", new_user_registration_path %>
                    </div>
                    <div class="btn btn-primary btn-lg linksss">
                      <%= link_to "Sign In!", new_user_session_path %>
                    </div>
                  </div>
                <!-- </nav> -->
            </section>
          </div><!-- container div -->
      </div><!-- paper-front div -->
    </div><!-- paper-window div -->
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</body>
</html>
